<!--<nav class=" indigo darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Информатор</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li  *ngIf="userService.roleMatch(['Admin'])">
        <a routerLink="/adminPanel">Admin Panel</a>
      </li>
      <li>
        <a (click)="Logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>-->

<nav class="indigo darken-4">
    <div class="nav-wrapper">
      <a  class="brand-logo">Logo</a>
      <a  data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li  *ngIf="userService.roleMatch(['Admin'])">
          <a routerLink="/adminPanel">Admin Panel</a>
        </li>
        <li>
          <a (click)="Logout()">Logout</a>
        </li>    
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li  *ngIf="userService.roleMatch(['Admin'])">
      <a routerLink="/adminPanel">Admin Panel</a>
    </li>
    <li>
      <a (click)="Logout()">Logout</a>
    </li>    
  </ul>


<div class="container">
  <div class="row" *ngIf="userClaims">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span>Username :{{userClaims.UserName}}</span>
          <br>
          <span>Email : {{userClaims.Email}}</span>
          <br>
          <span>Full Name : {{userClaims.FirstName}} {{userClaims.LastName}}</span>
          <br>
          <span>Logged On : {{userClaims.LoggedOn}}</span>
        </div>
      </div>
    </div>
  </div>  
  <app-news-list></app-news-list>
</div>
