<div class="row">
  <div class="col s12 m4">
    <form #newsForm="ngForm" class="col s12 white" (ngSubmit)="onSubmit(newsForm)">
      <div class="row">
        <div class="input-field col s12">          
          <input type="text" #NewsName ngModel name="NewsName" placeholder="Название новости" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">          
          <input type="text" #Text ngModel name="Text" placeholder="Текст" required>
        </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
           <input type="text" #Description ngModel name="Descriprion" placeholder="Краткое описание" required>
         </div>
       </div>
       <div class="row">
           <div class="input-field col s6">
             <button  class="btn-large btn-submit" type="submit">Добавить</button>
           </div>
           <div class="input-field col s6">
            <button class="btn-large btn-submit" type="button" (click)="resetForm(newsForm)">Сброс</button>
          </div>
        </div>
   </form>
  </div>
  <app-news-list></app-news-list>
</div>
